.app-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-sm), visibility var(--transition-sm);
  background-color: var(--fade-dark-md);
  z-index: 11000;
  cursor: pointer;
}

.app-page-overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

.app-page {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 1rem auto;
  padding: 0 var(--padding-md);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  cursor: default;
}

@media only screen and (min-width: 600px) {
  .app-page {
    max-width: 540px;
  }
}

@media only screen and (min-width: 840px) {
  .app-page {
    max-width: 800px;
  }
}

.app-page .app-page-header {
  padding: var(--padding-md) 0;
  border-bottom: var(--border-thickness) solid var(--fade-dark-md);
}

.app-page .app-page-header h1,
.app-page .app-page-header h2,
.app-page .app-page-header h3,
.app-page .app-page-header h4,
.app-page .app-page-header h5,
.app-page .app-page-header h6 {
  line-height: var(--icon-lg);
}

.app-page-close {
  float: right;
  cursor: pointer;
}

.app-page .app-page-body {
  flex-grow: 10;
  padding: var(--padding-md) 0;
  overflow: auto;
}

.app-page .app-page-footer {
  padding: var(--padding-md) 0;
  border-top: var(--border-thickness) solid var(--fade-dark-md);
}

.app-page .sc-table {
  margin: var(--padding-md) 0;
}

.app-page .sc-table th {
  text-align: left;
}
