@charset "utf-8";

html *,
html *::after,
html *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

body {
  position: relative;
  color: var(--color-dark);
  background-color: var(--color-lighter);
}

body * {
  line-height: 1.5;
  letter-spacing: 0.5px;
}

button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  margin: var(--padding-sm) 0 var(--padding-md) 0;
}

/* ------------- Grid ------------- */

[class*="sc-grid-"] {
  display: grid;
  grid-gap: var(--padding-sm);
}

.sc-grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.sc-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.sc-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.sc-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.sc-grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.sc-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.sc-grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.sc-grid-8 {
  grid-template-columns: repeat(8, 1fr);
}

.sc-grid-9 {
  grid-template-columns: repeat(9, 1fr);
}

.sc-grid-10 {
  grid-template-columns: repeat(10, 1fr);
}

.sc-grid-11 {
  grid-template-columns: repeat(11, 1fr);
}

.sc-grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

/* ------------- Heads ------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--padding-md) 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

/* ------------- icon ------------- */

[class*="sc-icon-"] {
  display: inline-block;
  position: relative;
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
}

[class*="sc-icon-"].sc-sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

[class*="sc-icon-"].sc-md {
  width: var(--icon-md);
  height: var(--icon-md);
}

[class*="sc-icon-"].sc-lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

[class*="sc-icon-"]:hover {
  background-color: var(--color-light);
}

[class*="sc-icon-"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
  background-color: var(--color-dark);
  transition: all var(--transition-sm);
}

[class*="sc-icon-"]:hover::before {
  background-color: var(--color-secondary-dark);
}

.sc-icon-calendar::before {
  mask-image: var(--icon-calendar);
}

.sc-icon-radio::before {
  mask-image: var(--icon-radio);
}

.sc-icon-bullet::before {
  mask-image: var(--icon-bullet);
}

.sc-icon-checkbox::before {
  mask-image: var(--icon-checkbox);
}

.sc-icon-close::before {
  mask-image: var(--icon-close);
}

.sc-icon-cross::before {
  mask-image: var(--icon-cross);
}

.sc-icon-direction::before {
  mask-image: var(--icon-direction);
}

.sc-icon-false::before {
  mask-image: var(--icon-false);
}

.sc-icon-fullscreen::before {
  mask-image: var(--icon-fullscreen);
}

.sc-icon-geolocation::before {
  mask-image: var(--icon-geolocation);
}

.sc-icon-handle-v::before {
  mask-image: var(--icon-handle-v);
}

.sc-icon-handle-h::before {
  mask-image: var(--icon-handle-h);
}

.sc-icon-help::before {
  mask-image: var(--icon-help);
}

.sc-icon-info::before {
  mask-image: var(--icon-info);
}

.sc-icon-location::before {
  mask-image: var(--icon-location);
}

.sc-icon-login::before {
  mask-image: var(--icon-login);
}

.sc-icon-logout::before {
  mask-image: var(--icon-logout);
}

.sc-icon-maximize::before {
  mask-image: var(--icon-maximize);
}

.sc-icon-menu::before {
  mask-image: var(--icon-menu);
}

.sc-icon-minimize::before {
  mask-image: var(--icon-minimize);
}

.sc-icon-mode::before {
  mask-image: var(--icon-mode);
}

.sc-icon-arrow-down::before {
  mask-image: var(--icon-arrow-down);
}

.sc-icon-arrow-up::before {
  mask-image: var(--icon-arrow-up);
}

.sc-icon-arrow-up-down::before {
  mask-image: var(--icon-arrow-up-down);
}

.sc-icon-order-up::before {
  mask-image: var(--icon-order-up);
}

.sc-icon-order-down::before {
  mask-image: var(--icon-order-down);
}

.sc-icon-search::before {
  mask-image: var(--icon-search);
}

.sc-icon-share::before {
  mask-image: var(--icon-share);
}

.sc-icon-tour::before {
  mask-image: var(--icon-tour);
}

.sc-icon-route::before {
  mask-image: var(--icon-route);
}

.sc-icon-true::before {
  mask-image: var(--icon-true);
}

.sc-icon-zoom-in::before {
  mask-image: var(--icon-zoom-in);
}

.sc-icon-zoom-out::before {
  mask-image: var(--icon-zoom-out);
}

.sc-icon-compass::before {
  mask-image: var(--icon-compass);
}

/* ------------- Form ------------- */

.sc-form {
}

.sc-form-group {
  border-bottom: 1px solid var(--fade-grey-sm);
  padding-bottom: var(--padding-md);
  margin-bottom: var(--padding-md);
}

.sc-form-group:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* ------------- checkbox and radio ------------- */

.sc-form-radio input,
.sc-form-checkbox input {
  display: none;
}

.sc-form-radio input ~ label,
.sc-form-checkbox input ~ label {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}

.sc-form-radio input:disabled ~ label,
.sc-form-checkbox input:disabled ~ label {
  color: var(--fade-grey-lg);
  cursor: not-allowed;
}

.sc-form-radio input ~ label span,
.sc-form-checkbox input ~ label span {
  line-height: var(--icon-sm);
  padding: 0 var(--padding-sm);
}

.sc-form-radio input ~ label i,
.sc-form-checkbox input ~ label i {
  flex-shrink: 0;
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.sc-form-radio input ~ label i {
  border-radius: 50%;
}

.sc-form-checkbox input ~ label i {
  border-radius: var(--border-radius);
}

.sc-form-radio input:not(:disabled) ~ label:hover i,
.sc-form-checkbox input:not(:disabled) ~ label:hover i {
  background-color: var(--color-light);
}

.sc-form-radio input:disabled ~ label i,
.sc-form-checkbox input:disabled ~ label i {
  border-color: var(--fade-grey-md);
}

.sc-form-radio input:disabled ~ label:hover i,
.sc-form-checkbox input:disabled ~ label:hover i {
  background-color: var(--color-transparent);
}

.sc-form-radio input ~ label i::before,
.sc-form-checkbox input ~ label i::before {
  background-color: var(--color-transparent);
}

.sc-form-radio input:not(:disabled) ~ label:hover i::before,
.sc-form-checkbox input:not(:disabled) ~ label:hover i::before {
  background-color: var(--fade-grey-md);
}

.sc-form-radio input:checked ~ label i::before,
.sc-form-checkbox input:checked ~ label i::before,
.sc-form-radio input[checked="checked"] ~ label i::before,
.sc-form-checkbox input[checked="checked"] ~ label i::before {
  background-color: var(--color-secondary-light);
}

.sc-form-radio input:checked ~ label:hover i::before,
.sc-form-checkbox input:checked ~ label:hover i::before,
.sc-form-radio input[checked="checked"] ~ label:hover i::before,
.sc-form-checkbox input[checked="checked"] ~ label:hover i::before {
  background-color: var(--color-secondary-dark);
}

.sc-form-radio input:disabled ~ label i::before,
.sc-form-checkbox input:disabled ~ label i::before {
  background-color: var(--color-transparent);
}

.sc-form-radio input:disabled:checked ~ label i::before,
.sc-form-checkbox input:disabled:checked ~ label i::before,
.sc-form-radio input:disabled[checked="checked"] ~ label i::before,
.sc-form-checkbox input:disabled[checked="checked"] ~ label i::before {
  background-color: var(--fade-grey-md);
}

/* ------------- text ------------- */

.sc-form-text,
.sc-form-textarea {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.sc-form-text.sc-has-icon,
.sc-form-textarea.sc-has-icon {
  flex-direction: row-reverse;
}

.sc-form-text input,
.sc-form-textarea textarea {
  width: 100%;
  color: var(--color-dark);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
}

.sc-form-text input {
  padding: 0 var(--padding-sm);
  line-height: var(--icon-md);
}

.sc-form-textarea textarea {
  padding: var(--padding-sm);
  line-height: 1;
  resize: none;
}

.sc-form-text.sc-has-icon input,
.sc-form-textarea.sc-has-icon textarea {
  width: calc(100% - var(--icon-md));
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.sc-form-text.sc-has-label input,
.sc-form-textarea.sc-has-label textarea {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.sc-form-text input:disabled,
.sc-form-textarea textarea:disabled {
  border-color: var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-text input:focus,
.sc-form-textarea textarea:focus {
  background-color: var(--color-lighter);
  border-color: var(--color-secondary-light);
  outline: none;
}

.sc-form-text input ~ label,
.sc-form-textarea textarea ~ label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all var(--transition-sm);
}

.sc-form-text:not(.sc-has-icon):not(.sc-has-label) input ~ label,
.sc-form-textarea:not(.sc-has-icon):not(.sc-has-label) textarea ~ label {
  margin-bottom: var(--padding-sm);
}

.sc-form-text.sc-has-icon input ~ label,
.sc-form-text.sc-has-label input ~ label,
.sc-form-textarea.sc-has-icon textarea ~ label,
.sc-form-textarea.sc-has-label textarea ~ label {
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--color-primary-light);
  box-shadow: var(--box-shadow-md);
}

.sc-form-text.sc-has-icon input ~ label,
.sc-form-textarea.sc-has-icon textarea ~ label {
  flex-shrink: 0;
  width: var(--icon-md);
  border-right: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.sc-form-text.sc-has-label input ~ label,
.sc-form-textarea.sc-has-label textarea ~ label {
  height: var(--icon-md);
  line-height: var(--icon-md);
  padding: 0 var(--padding-md);
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.sc-form-text input:disabled ~ label,
.sc-form-textarea textarea:disabled ~ label {
  color: var(--fade-grey-lg);
  cursor: not-allowed;
}

.sc-form-text.sc-has-icon input:disabled ~ label,
.sc-form-text.sc-has-label input:disabled ~ label,
.sc-form-textarea.sc-has-icon textarea:disabled ~ label,
.sc-form-textarea.sc-has-label textarea:disabled ~ label {
  background-color: var(--color-light);
  border-color: var(--fade-grey-md);
}

.sc-form-text.sc-has-icon input:not(:disabled) ~ label:hover,
.sc-form-text.sc-has-label input:not(:disabled) ~ label:hover,
.sc-form-textarea.sc-has-icon textarea:not(:disabled) ~ label:hover,
.sc-form-textarea.sc-has-label textarea:not(:disabled) ~ label:hover {
  background-color: var(--fade-dark-sm);
}

.sc-form-text.sc-has-icon input:focus ~ label,
.sc-form-text.sc-has-label input:focus ~ label,
.sc-form-textarea.sc-has-icon textarea:focus ~ label,
.sc-form-textarea.sc-has-label textarea:focus ~ label {
  background-color: var(--fade-dark-sm);
  border-color: var(--color-secondary-light);
}

.sc-form-text.sc-has-icon input ~ label i,
.sc-form-textarea.sc-has-icon textarea ~ label i {
  width: 100%;
  height: 100%;
  background-color: var(--color-transparent);
  border: none;
  border-radius: 0;
}

.sc-form-text.sc-has-icon input:not(:disabled) ~ label i::before,
.sc-form-textarea.sc-has-icon textarea ~ label i::before {
  background-color: var(--color-primary-dark);
}

.sc-form-text.sc-has-icon input:disabled ~ label i::before,
.sc-form-textarea.sc-has-icon textarea:disabled ~ label i::before {
  background-color: var(--fade-grey-lg);
}

.sc-form-text.sc-has-icon input:focus ~ label i::before,
.sc-form-textarea.sc-has-icon textarea:focus ~ label i::before {
  background-color: var(--color-secondary-dark);
}

/* ------------- select ------------- */

.sc-form-select {
  display: flex;
  flex-direction: row;
}

.sc-form-select select {
  width: 100%;
  height: var(--icon-md);
  padding: 0 var(--icon-md) 0 var(--padding-md);
  background-repeat: no-repeat;
  background-position: center right var(--padding-sm);
  background-size: 1rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZGVmcz48cGF0aCBpZD0iTGF5ZXIxXzBfMV9TVFJPS0VTIiBzdHJva2U9InJnYmEoMTM3LCAxMzcsIDEzNywgMC42MCkiIHN0cm9rZS13aWR0aD0iMTAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBmaWxsPSJub25lIiBkPSJNIDUgMjkuOUwgNTAuMDUgNzQuOTUgOTUuMSAyOS45Ii8+PC9kZWZzPjxnIHRyYW5zZm9ybT0ibWF0cml4KCAxLCAwLCAwLCAxLCAwLDApICI+PHVzZSB4bGluazpocmVmPSIjTGF5ZXIxXzBfMV9TVFJPS0VTIi8+PC9nPjwvc3ZnPg==);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
  appearance: none;
  cursor: pointer;
}

.sc-form-select select:disabled {
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-select select:focus {
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-secondary-light);
  outline: none;
}

.sc-form-option {
  background-color: var(--color-lighter);
}

/* ------------- range ------------- */

.sc-form-range {
  display: flex;
  flex-direction: column-reverse;
}

.sc-form-range input {
  width: 100%;
  height: var(--border-thickness);
  padding: 0;
  margin: calc(var(--icon-sm) / 2) 0;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
  appearance: none;
  outline: none;
  cursor: pointer;
}

.sc-form-range input:disabled {
  background-color: var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-range input:focus {
  background-color: var(--color-secondary-light);
}

.sc-form-range input:disabled ~ label {
  color: var(--fade-grey-lg);
}

.sc-form-range input::-webkit-slider-thumb,
.sc-form-range input::-moz-range-thumb {
  width: var(--icon-sm);
  height: var(--icon-sm);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZGVmcz48cGF0aCBpZD0iTGF5ZXIxXzBfMV9TVFJPS0VTIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMTAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZmlsbD0ibm9uZSIgZD0iTSAyNSA5MEwgNzUgOTBNIDI1IDEwTCA3Ny41IDEwTSA5NSA1MEwgNSA1MCIvPjwvZGVmcz48ZyB0cmFuc2Zvcm09Im1hdHJpeCggMSwgMCwgMCwgMSwgMCwwKSAiPjx1c2UgeGxpbms6aHJlZj0iI0xheWVyMV8wXzFfU1RST0tFUyIvPjwvZz48L3N2Zz4=);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: 50%;
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
  appearance: none;
  outline: none;
  cursor: pointer;
}

.sc-form-range input:not(:disabled):hover::-webkit-slider-thumb,
.sc-form-range input:not(:disabled):hover::-moz-range-thumb {
  background-color: var(--color-grey-sm);
}

.sc-form-range input:disabled::-webkit-slider-thumb,
.sc-form-range input:disabled::-moz-range-thumb {
  background-color: var(--color-grey-sm);
  border-color: var(--color-grey-mg);
  cursor: not-allowed;
}

.sc-form-range input:focus::-webkit-slider-thumb,
.sc-form-range input:focus::-moz-range-thumb {
  border-color: var(--color-secondary-light);
}

/* ------------- button ------------- */

.sc-form-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-md);
  color: var(--color-dark);
  font-size: 1.1rem;
  font-weight: 400 !important;
  line-height: var(--icon-lg);
  /* height: var(--icon-lg); */
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
  overflow: hidden;
  cursor: pointer;
  word-break: break-all;
}

.sc-form-button.sc-stretched button {
  width: 100%;
}

.sc-form-button button:disabled {
  color: var(--fade-grey-lg);
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-button button:not(:disabled):hover {
  background-color: var(--fade-dark-sm);
  border: var(--border-thickness) solid var(--color-secondary-light);
}

.sc-form-button button span {
  flex-grow: 10;
  line-height: var(--icon-lg);
  text-align: left;
}

.sc-form-button button i {
  flex-shrink: 0;
  position: relative;
  left: calc(-1 * var(--padding-md));
  width: var(--icon-lg);
  height: var(--icon-lg);
  background-color: var(--color-transparent);
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: all var(--transition-sm);
}

.sc-form-button button i:hover {
  background-color: var(--color-transparent);
  border: none;
  box-shadow: none;
}

.sc-form-button button i::before {
  background-color: var(--color-primary-dark);
}

.sc-form-button button:not(:disabled):hover i::before {
  background-color: var(--color-secondary-dark);
}

.sc-form-button button:disabled i::before {
  background-color: var(--fade-grey-lg);
}

/* ------------- table ------------- */

.sc-table {
  width: 100%;
  background-color: var(--color-lighter);
  border-collapse: separate;
  overflow: hidden;
}

.sc-table caption {
  font-size: 1.2rem;
  text-align: left;
  padding: var(--padding-md) var(--padding-sm);
}

.sc-table thead {
  box-shadow: inset 0 calc(-1 * var(--border-thickness)) 0
    var(--color-primary-light);
  /* background-color: var(--fade-grey-sm); */
}

.sc-table thead tr {
}

.sc-table tbody {
}

.sc-table tbody tr:nth-of-type(2n + 1) {
  background-color: var(--fade-dark-sm);
}

.sc-table tbody tr:nth-of-type(2n) {
  background-color: var(--color-transparent);
}

.sc-table th,
.sc-table td {
  font-size: 1rem;
  padding: 0 var(--padding-md);
}

.sc-table th {
  text-align: center;
  line-height: 3;
}

.sc-table td {
  text-align: left;
  line-height: 2.5;
}

/* ------------- card ------------- */

.sc-card {
  padding: 0 var(--padding-md);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
}

.sc-card.sc-borderless {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.sc-card.sc-shadowed {
  border: none;
  border-radius: 0;
  box-shadow: var(--box-shadow-md);
}

.sc-card .sc-card-header {
  padding: var(--padding-md) 0;
  border-bottom: var(--border-thickness) solid var(--fade-dark-md);
}

.sc-card .sc-card-body {
  padding: var(--padding-md) 0;
}

.sc-card .sc-card-footer {
  padding: var(--padding-md) 0;
  border-top: var(--border-thickness) solid var(--fade-dark-md);
}

/* ------------- slide ------------- */

.sc-slide {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 22rem;
  height: 100%;
  padding: 0 var(--padding-md);
  background-color: var(--color-lighter);
  box-shadow: var(--box-shadow-md);
  transform: translateX(-100%);
  transition: var(--transition-md);
  z-index: 10000;
}

@media only screen and (min-width: 600px) {
  .sc-slide {
    width: 24rem;
  }
}

@media only screen and (min-width: 1280px) {
  .sc-slide {
    width: 26rem;
  }
}

.sc-slide.sc-is-open {
  transform: translateX(0);
}

.sc-slide .sc-slide-header {
  position: relative;
  padding: var(--padding-md) 0;
  border-bottom: var(--border-thickness) solid var(--fade-dark-md);
}

.sc-slide h1,
.sc-slide h2,
.sc-slide h3,
.sc-slide h4,
.sc-slide h5,
.sc-slide h6 {
  margin: 0;
  line-height: var(--icon-lg);
}

.sc-slide .sc-slide-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  width: var(--icon-lg);
  height: var(--icon-lg);
  cursor: pointer;

  transform: translate(calc(100% + 2 * var(--padding-md)), -50%);
}

.sc-slide.sc-is-open .sc-slide-toggle {
  transform: translate(0, -50%);
}

.sc-slide .sc-slide-body {
  flex-grow: 10;
  padding: var(--padding-md) 0;
  overflow: auto;
}

.sc-slide .sc-slide-footer {
  padding: var(--padding-md) 0;
  border-top: var(--border-thickness) solid var(--fade-dark-md);
}
