:root {
  --color-primary-light: #00a8ff;
  --color-primary-dark: #0097e6;
  --color-secondary-light: #e84118;
  --color-secondary-dark: #c23616;

  --color-transparent: rgba(0, 0, 0, 0);

  --color-lighter: #fafafa;
  --color-light: #eeeeee;
  --color-dark: #353b48;
  --color-darker: #2f3640;

  --color-grey-sm: #eceff1;
  --color-grey-md: #cfd8dc;
  --color-grey-lg: #b0bec5;

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

  --icon-sm: 1.6rem;
  --icon-md: 2.2rem;
  --icon-lg: 2.8rem;

  --border-radius: 4px;
  --border-thickness: 1px;

  --transition-sm: 0.3s ease;
  --transition-md: 0.5s ease;
  --transition-lg: 0.7s ease;

  --box-shadow-sm: 0px 0px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 0px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-lg: 0px 0px 4px rgba(0, 0, 0, 0.3);

  --box-shadow-inset-sm: 0px 0px 4px inset rgba(0, 0, 0, 0.1);
  --box-shadow-inset-md: 0px 0px 4px inset rgba(0, 0, 0, 0.2);
  --box-shadow-inset-lg: 0px 0px 4px inset rgba(0, 0, 0, 0.3);

  --fade-dark-sm: rgba(0, 0, 0, 0.1);
  --fade-dark-md: rgba(0, 0, 0, 0.2);
  --fade-dark-lg: rgba(0, 0, 0, 0.3);

  --fade-grey-sm: rgba(110, 110, 110, 0.4);
  --fade-grey-md: rgba(110, 110, 110, 0.5);
  --fade-grey-lg: rgba(110, 110, 110, 0.6);

  --fade-light-sm: rgba(255, 255, 255, 0.1);
  --fade-light-md: rgba(255, 255, 255, 0.2);
  --fade-light-lg: rgba(255, 255, 255, 0.3);
}
