@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/roboto-v20-latin-regular.woff") format("woff"),
    url("/assets/fonts/roboto-v20-latin-regular.ttf") format("ttf");
}

html * {
  font-family: Roboto;
}
