/* ------------- Popup ------------- */

.mapboxgl-popup {
  font-family: inherit !important;
  max-width: none !important;
}

.mapboxgl-popup-content {
  /* width: 22rem !important; */
  padding: 0 !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow-md) !important;
  background-color: var(--color-lighter) !important;
}

/* ------------- Popup tip ------------- */

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--color-lighter) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--color-lighter) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--color-lighter) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--color-lighter) !important;
}

/* ------------- Control ------------- */

.mapboxgl-ctrl-group {
  border-radius: var(--border-radius) !important;
  border: var(--border-thickness) solid var(--color-primary-light) !important;
  box-shadow: var(--box-shadow-md) !important;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-group {
  margin: var(--padding-md) 0 0 var(--padding-md) !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group {
  margin: var(--padding-md) var(--padding-md) 0 0 !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-group {
  margin: 0 0 var(--padding-md) var(--padding-md) !important;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
  margin: 0 var(--padding-md) var(--padding-md) 0 !important;
}

/* ------------- Control buttons ------------- */

.mapboxgl-ctrl-group {
  overflow: hidden !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-fulscreen,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
  background-image: none !important;
  position: relative;
  width: var(--icon-lg) !important;
  height: var(--icon-lg) !important;
  background-color: var(--color-lighter);
  border-color: var(--color-primary-light) !important;
  transition: var(--transition-sm) !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass span {
  background-image: none !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate:hover,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-fulscreen:hover,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:hover,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:hover,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:hover {
  background-color: var(--color-light) !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate:focus,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-fulscreen:focus,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:focus,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:focus,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:focus {
  box-shadow: none !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-fulscreen::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass span::before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 50% !important;
  background-image: none !important;
  background-color: var(--color-dark) !important;
  transition: all var(--transition-sm) !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate:hover::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-fulscreen:hover::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:hover::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:hover::before,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass:hover span::before {
  background-color: var(--color-secondary-dark) !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate::before {
  mask-image: var(--icon-geolocation);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen::before {
  mask-image: var(--icon-fullscreen);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in::before {
  mask-image: var(--icon-zoom-in);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out::before {
  mask-image: var(--icon-zoom-out);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass span::before {
  mask-image: var(--icon-compass);
}
